<div class="h-full flex flex-col">
  <!-- Title and Create Button -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-lg font-bold text-gray-900">Field Groups</h2>
    <button
      class="flex items-center gap-2 px-3 py-2 text-sm font-semibold text-blue-500 rounded-md hover:bg-gray-100 focus:outline-none"
      (click)="openCreateModal()">
      <span class="flex items-baseline justify-center w-7 h-7 text-lg text-white bg-blue-500 rounded-full font-extrabold">
        +
      </span>
      Create New
    </button>
  </div>

  <!-- Default Field Groups -->
  <h3 class="text-md font-semibold text-gray-700 mt-4 mb-2">Default Field Groups</h3>
  <ul class="space-y-2">
    <li *ngFor="let group of defaultGroups()"
      class="p-2 flex justify-between items-center bg-white shadow-md border border-gray-300 rounded-md cursor-pointer hover:bg-gray-100"
      [class.border-blue-400]="selectedGroupId() === group.id"
      [class.text-blue-400]="selectedGroupId() === group.id"
      (click)="selectFieldGroup(group.id)">
      <span class="text-gray-800 font-medium">{{ group.name }}</span>
    </li>
  </ul>

  <!-- Newly Created Field Groups -->
  <h3 *ngIf="newlyCreatedGroups().length > 0" class="text-md font-semibold text-gray-700 mt-4 mb-2">
    Newly Created Field Groups
  </h3>
  <ul class="space-y-2">
    <li *ngFor="let group of newlyCreatedGroups()"
      class="p-2 flex justify-between items-center bg-white shadow-md border border-gray-300 rounded-md cursor-pointer hover:bg-gray-100"
      [class.border-blue-400]="selectedGroupId() === group.id"
      [class.text-blue-400]="selectedGroupId() === group.id"
      (click)="selectFieldGroup(group.id)">
      <ng-container *ngIf="group.name.trim() !== ''">
        <span class="font-medium text-base text-gray-800">{{ group.name }}</span>
      </ng-container>
    </li>
  </ul>

  <!-- Modal -->
  <app-modal *ngIf="isModalOpen()" [modalTitle]="modalTitle()" [fieldGroupName]="fieldGroupName"
    [fieldGroupDescription]="fieldGroupDescription" (confirmAction)="handleConfirmAction($event)"
    (cancelAction)="closeModal()"></app-modal>
</div>
