/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';


/* Hide scrollbar globally */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.dndDropzone .dndDraggable {
  touch-action: none; /* Disables the default touch behavior */
  -webkit-user-drag: none;
}
